.privacy-policy {
    margin: 50px;
    text-align: justify;
    margin-bottom: 6rem;
}
  
.hotel-information {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #434A42;
    margin-top: 2rem;
    margin-bottom: 2rem;
}